@{
    ViewData["Title"] = "Home Page";
}
 
<div class="text-center" style="margin-top: 20%;">
    <h1 class="display-4">Bem-vindo :)</h1>
</div>

<div class="text-center" style="margin-top: 5%;">
    <a class="wrap" class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Clique aqui para criar os usuários</a>
</div>

<style>
    body {
        background-color: #F2F2F2;
    }

    .wrap {
        background-color: #C5E3F4;
        color: #0D65D9;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        padding: 10px 25px;
        border: 2px solid #0D65D9;
        border-radius: 100px;
        display: inline-block;
    }
</style>
